.fade-enter, .fade-appear{
    opacity: 0.01;
}

.fade-enter.fade-enter-active, .fade-appear.fade-appear-active{
    opacity: 1;
    transition: opacity 3000ms ease-in;
}

.fade-exit{
    opacity: 1;
}

.fade-exit.fade-exit-active{
    opacity: 0.01;
    transition: opacity 3000ms ease-in;
}

.greeting{
    padding: 20px;
    background-color: #ccc;
    width: 200px;
    margin: auto;
    text-align: center;
    border-radius: 4px;
}

.container{
    padding: 0.9375rem;
    border: 1px solid #ccc;
    width: 200px;
    & > button{
        margin-top: 0.5rem;
    }
}

